@charset "utf-8";

/*
# The variables partial file by PCCS-Tone for Compass/Sass


## What is this

This file is partial file for Compass/Sass by PCCS (Practical Color Coordinate System).
You can include and use your sass or scss files what RGB color number variables in this file.

PCCS was developed by the Japan Color Research Institute.
It's a discrete color space indexed by hue and tone.

Japan Color Research Institute: http://www.jcri.jp/JCRI/index.html


## How to use
You order it in this way.

```
nth([tone], [color-number])
```

If you want to use "Number1 of Vivid-tones", you write it in this way.

```
nth($v, 1)
```


## Cite
RGB color numbers of this file: cited from http://www.garakuta.net/color/pccs/matrix.html

### Attention
It's unofficial RGB color numbers.


## Who made
This file was made by Kaz'ya NAGAO in WILDWEST-SERVICE(in Japan).
http://www.wildwest-service.com
*/



/*
## Color variables
*/

/***********************************

### Highest saturation group.

***********************************/

/*
#### Vivid-tone

Vivid-tones having the highest saturation.
Vivid has the number of the color from 1 to 24.
*/

$v: #b91f57, #d02f48, #dd443b, #e95b23, #e67800, #f49d00, #f1b500, #eec900, #d2c100, #a8bb00, #58a91d, #00a15a, #00926e, #00857f, #007488, #00709b, #00609c, #005ba5, #1a54a5, #534aa0, #703f96, #81378a, #8f2e7c, #ad2e6c;



/**********************************

### 2nd high saturation group

***********************************/

/*
#### Bright-tone

Bright-tones are brightest in 2nd high saturation group.
Bright has the number of the color from 1 to 12.
*/

$b: transparent, #ef6c70, transparent, #fa8155, transparent, #ffad36, transparent, #fad831, transparent, #b7c82b, transparent, #41b879, transparent, #00aa9f, transparent, #0098b9, transparent, #2981c0, transparent, #7574bc, transparent, #a165a8, transparent, #d0678e;


/*
#### Strong-tone

Strong-tones are 2nd high bright in 2nd high saturation group.
Strong has the number of the color from 1 to 12.
*/

$s: transparent, #c53f4d, transparent, #cc572e, transparent, #e19215, transparent, #debc03, transparent, #9cad00, transparent, #008f56, transparent, #00827c, transparent, #006f92, transparent, #005b9b, transparent, #534c98, transparent, #7c3d84, transparent, #a33c6a;


/*
#### Deep-tone

Deep-tones are 3rd high bright (darkest) in 2nd high saturation group.
Deep has the number of the color from 1 to 12.
*/

$dp: transparent, #a61d39, transparent, #ab3d1d, transparent, #b16c00, transparent, #b39300, transparent, #748400, transparent, #007243, transparent, #006664, transparent, #005476, transparent, #004280, transparent, #3e337b, transparent, #612469, transparent, #861d55;



/***********************************

### 3rd high saturation group.

***********************************/

/*
#### Light-tone

Light-tones are brightest in 3rd high saturation group.
Light has the number of the color from 1 to 12.
*/

$lt: transparent, #f19896, transparent, #ffa787, transparent, #ffbe71, transparent, #f2d96e, transparent, #c7d36d, transparent, #85ce9e, transparent, #62c0b5, transparent, #5bafc4, transparent, #6c9ac5, transparent, #9091c3, transparent, #b088b5, transparent, #d98ea5;


/*
#### Soft-tone

Soft-tones are 2nd bright in 3rd high saturation group.
Soft has the number of the color from 1 to 12.
*/

$sf: transparent, #ca8281, transparent, #da927a, transparent, #dba66b, transparent, #d3bd6c, transparent, #adb66b, transparent, #76b18a, transparent, #54a39b, transparent, #5192a4, transparent, #5d7ea0, transparent, #7878a0, transparent, #907194, transparent, #b4788b;


/*
#### Dull-tone

Dull-tones are 3rd bright in 3rd high saturation group.
Dull has the number of the color from 1 to 12.
*/

$d: transparent, #a35a5c, transparent, #af6954, transparent, #b37f46, transparent, #ab9446, transparent, #858f46, transparent, #4f8766, transparent, #2a7b76, transparent, #246a7d, transparent, #34597d, transparent, #54527c, transparent, #6c4a71, transparent, #8b4f65;


/*
#### Dark-tone

Dark-tone are 4th bright in 3rd high saturation group.
Dark has the number of the color from 1 to 12.
*/

$dk: transparent, #692934, transparent, #75362a, transparent, #794d1c, transparent, #74601f, transparent, #525b20, transparent, #23523a, transparent, #004746, transparent, #004558, transparent, #123452, transparent, #322d51, transparent, #432848, transparent, #612d46;



/***********************************

### 4th high saturation group.

***********************************/

/*
#### Pale-tone

Pale-tones are brightest in 4th high saturation group.
Pale has the number of the color from 1 to 12.
*/

$p: transparent, #e8c2bf, transparent, #ebc2b5, transparent, #f4d4b0, transparent, #f2e6b8, transparent, #d8ddad, transparent, #aed4b9, transparent, #a6d4cc, transparent, #add1da, transparent, #afc0d1, transparent, #bbbdd0, transparent, #c8b9c9, transparent, #dec4ca;


/*
#### LightGrayish-tone

LightGrayish-tones are 2nd high bright in 4th high saturation group.
LightGrayish has the number of the color from 1 to 12.
*/

$ltg: transparent, #c0abaa, transparent, #c1aba5, transparent, #cebba8, transparent, #c6bea1, transparent, #bdc1a2, transparent, #9db6a5, transparent, #98b6b1, transparent, #9eb4b9, transparent, #9ba5af, transparent, #a2a2af, transparent, #aba0ab, transparent, #bdacb0;


/*
#### Grayish-tone

Grayish-tones are 3rd high bright in 4th high saturation group.
Grayish has the number of the color from 1 to 12.
*/

$g: transparent, #745c5c, transparent, #755c57, transparent, #806c5c, transparent, #786f57, transparent, #6e725a, transparent, #53665a, transparent, #4e6764, transparent, #4f656c, transparent, #4c5765, transparent, #565566, transparent, #605262, transparent, #725c63;


/*
#### DarkGrayish-tone

DarkGrayish-tones are 4th high bright(darkest) in 4th high saturation group.
DarkGrayish has the number of the color from 1 to 12.
*/

$dkg: transparent, #3e2d30, transparent, #3f2e2c, transparent, #4a3c32, transparent, #443e30, transparent, #3d4033, transparent, #2a342e, transparent, #273434, transparent, #273439, transparent, #222933, transparent, #292734, transparent, #302531, transparent, #3d2e34;



/***********************************

### No saturation group.

***********************************/

/*
#### Neutral-gray

Neutral-gray haven't saturaiton.

Neutral-gray has the number of the color from 2 to 8 and bk and w.
Gy-2.5 : nth($gy, 2) 
Gy-3.5 : nth($gy, 3) 
Gy-4.5 : nth($gy, 4) 
Gy-5.5 : nth($gy, 5) 
Gy-6.5 : nth($gy, 6) 
Gy-7.5 : nth($gy, 7) 
Gy-8.5 : nth($gy, 8) 

$bk is equal with gy-1.
$w is equal with gy-9.
*/

$bk : #272727;
$gy: #272727, #3c3c3c, #545454, #6d6d6d, #878787, #a1a1a1, #bbbbbb, #d6d6d6, #f1f1f1;
$w : #f1f1f1;
