/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_pccs.scss";

table {
	margin-bottom: 20px;
	
	caption {
		background-color: nth($gy, 4);
		color: nth($w, 1);
		padding: 0.4em;
		margin: 0 2px;
		font-weight: bold;
		text-align: left;
	}
	tr {
		td {
			width: 50px;
			height: 50px;
			text-align: center;
			font-size: 15px;
			color: nth($w, 1);
		}
	}
}


/* grouping */
#v { margin-bottom: 40px; }
#dp { margin-bottom: 40px; }
#dk { margin-bottom: 40px; }
#dkg { margin-bottom: 40px; }



/* Vivid-tone */			
@for $i from 1 through 24 {
	#v#{$i} {
		background-color: nth($v, $i);
	}
}

/* Bright-tone */			
@for $i from 1 through 12 {
	#b#{$i*2} {
		background-color: nth($b, $i*2);
	}
}

/* Strong-tone */			
@for $i from 1 through 12 {
	#s#{$i*2} {
		background-color: nth($s, $i*2);
	}
}

/* Deep-tone */			
@for $i from 1 through 12 {
	#dp#{$i*2} {
		background-color: nth($dp, $i*2);
	}
}

/* Light-tone */			
@for $i from 1 through 12 {
	#lt#{$i*2} {
		background-color: nth($lt, $i*2);
	}
}

/* Soft-tone */			
@for $i from 1 through 12 {
	#sf#{$i*2} {
		background-color: nth($sf, $i*2);
	}
}

/* Dull-tone */			
@for $i from 1 through 12 {
	#d#{$i*2} {
		background-color: nth($d, $i*2);
	}
}

/* Dull-tone */			
@for $i from 1 through 12 {
	#dk#{$i*2} {
		background-color: nth($dk, $i*2);
	}
}

/* Pale-tone */			
@for $i from 1 through 12 {
	#p#{$i*2} {
		background-color: nth($p, $i*2);
	}
}

/* LightGrayish-tone */			
@for $i from 1 through 12 {
	#ltg#{$i*2} {
		background-color: nth($ltg, $i*2);
	}
}

/* Grayish-tone */			
@for $i from 1 through 12 {
	#g#{$i*2} {
		background-color: nth($g, $i*2);
	}
}

/* DarkGrayish-tone */			
@for $i from 1 through 12 {
	#dkg#{$i*2} {
		background-color: nth($dkg, $i*2);
	}
}

/* Neutral-gray */			
@for $i from 2 through 8 {
	#gy#{$i} {
		background-color: nth($gy, $i);
		@if $i>=6 {
			color: nth($bk, 1);
		}
	}
}
#bk { background-color: nth($bk, 1); }
#w {
	background-color: nth($w, 1);
	color: nth($bk, 1);
}


/* page styles */
$mw: 650px;

section {
	margin-bottom: 60px;
}

h1 {
	border-left: 6px solid nth($v, 6);
	padding-left: 3px;
	color: nth($bk, 1);
}

p {
	color: nth($bk, 1);
	max-width: $mw;
	line-height: 1.4;
	font-size: 85%;
}

pre {
	box-sizing: border-box;
	border: 1px solid nth($bk, 1);
	max-width: $mw;
	background-color: nth($gy, 3);
	color: nth($w, 1);
	padding: 1em;
}